.server-name {
  
}

.server-minimap img{
  border: 1px solid black;
  padding: 3px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.server-row {
  margin-top: 10px;
}

.server-desc {
  border-bottom: 1px solid #aaa;
}

.server-stats td:last-child {
  padding-left: 8px;
}

#mo-center { position: absolute; top: 50%; width: 100%; height: 1px; overflow: visible }
#mo-main { position: absolute; left: 50%; width: 720px; margin-left: -360px; height: 540px; top: -270px }